<!DOCTYPE html>
<html lang="en" class="vh-100">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>{{title}}</title>
  </head>
  <body class="d-flex flex-column h-100">
    <header class="py-3 bg-body-secondary">
      {{>header}}
    </header>
    <main role="main" class="flex-shrink-0 mb-auto">
      <div class="container my-3">
        {{{body}}}
      </div>
    </main>
    <footer class="footer mt-auto py-3 bg-body-secondary">
      {{>footer}}
    </footer>
    <script src="/javascripts/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
